body {
  font-family: 'Open Sans', sans-serif; }

.leftHeader {
  margin: 0px auto;
  display: block;
  padding-left: 90px;
  padding-top: 5px; }
  .leftHeader .fa-instagram {
    display: inline-block;
    font-size: 35px;
    border-right: grey solid 1px;
    padding-right: 15px;
    margin-right: 10px;
    text-decoration: none; }
  .leftHeader .smalltext {
    display: inline-block; }

.top {
  border: .5px solid #E6E6E6; }

.description {
  padding-top: 8px;
  padding-left: 15px; }
  .description i {
    font-size: 25px;
    padding-right: 10px; }
  .description p {
    padding-top: 10px; }
  .description a {
    color: black;
    text-decoration: none; }

.title {
  padding-left: 15px;
  display: block;
  padding-bottom: 5px;
  padding-top: 3px;
  border-bottom: .5px solid #E6E6E6; }
  .title img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px; }
  .title h4 {
    display: inline-block; }

.topRow {
  padding-bottom: 12px; }

img {
  width: 100%; }

.mainBody {
  background: #FAFAFA; }

.instaPosts {
  background: white;
  border: .5px solid #E6E6E6;
  border-radius: 3px;
  margin-top: 60px; }

.middleHeader {
  padding-top: 25px;
  margin: 0px auto; }
  .middleHeader .subscribe-input {
    width: 235px;
    text-align: center;
    margin: 0px auto;
    background: #FAFAFA; }

.rightHeader {
  font-size: 25px;
  padding-top: 23px; }
  .rightHeader i {
    padding-right: 18px; }
  .rightHeader a {
    text-decoration: none; }

.addImage {
  text-align: center;
  font-size: 20px;
  padding-top: 20px; }

.addPic {
  background: none;
  border: none; }

.fa-user-o, .fa-instagram {
  color: black; }

.likeButton {
  background: none;
  border: none;
  font-size: 25px;
  padding-right: 10px; }

.footer {
  margin-top: 10px; }

.userPics {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 300px; }
  .userPics img {
    height: 100%; }
